.work-experience{
	
background-color:grey;


	&__headline{

		padding-bottom: 60px;

		font-size: 67px;
    	color: white;  


	}



&__content{

	margin-bottom: 50px;
}

	&__subheadline{

		margin-top:10px;
		margin-bottom: 10;

		font-size: 26px;
		color: white;
	}

&__content-info{

	font-size: 16px;
	font-weight: bold;
	color: white;
}

&__work-img{

    float: left;
    margin-right: 20px;
    
   
}

&__company{

color: #ffffff40;
font-size: 42px;

}

&__work-title{
	margin-bottom: 0;
    line-height: 28px;
    margin-top: 15px;
    font-size: 26px;
    color:white;
}

&__date{

	    font-size: 16px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
}


&__description{

	font-size: 16px;
	font-weight: normal;
	color: white;
}


}


