.contact{

&__inner-wrapper{

    padding-top: 10rem;
    padding-bottom: 10rem;
    margin-left: auto;
    margin-right: auto;



}
&__icon{


    text-align: center;
    width:25%;
    float: left;
    
   


}







}