.contact{

&__inner-wrapper{

    padding-top: 10rem;
    padding-bottom: 10rem;
    margin-left: auto;
    margin-right: auto;



} 
&__headline{
    font-size: 4.8rem;
    text-align: center; 
    margin-bottom: 2.4rem;
}
&__icon{


    text-align: center;
    width:33%;
    font-size: 4.8rem;
    
   


}







}