.education{
	


	background-color:white;


	&__headline{

		padding-bottom: 60px;
		font-size: 7.2rem;
    	color: black;  


	}


	&__school-text{

		color:orange;
		font-size: 42px;
    	


	}

	&__major-text{

		
		font-size: 26px;
    	


	}

	&__date-text{

		
		font-size: 16px;
		font-weight: bold;
    	


	}

}