.section {
  margin-left: 38%;
}

.home {
  height: 100vh;
}

.about {
  background-color: grey;

  &__headline {
    font-size: 67px;
    color: yellow;
  }

  &__content {
    margin-top: 10px;
    font-size: 26px;
    line-height: 2;
    color: white;
  }
  &__address {
    font-size: 14px;
    line-height: 24px;
    color: white;
  }
}

.wrapper {
  padding-top: 80px;
  padding-bottom: 100px;
  margin-left: 10%;
  margin-right: 10%;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
  }

@import "skills";
@import "skills-language";
@import "work-experience";
@import "education";
@import "_portfolio";
@import "contact";
@import "watch-me";
